
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*modular scale*/
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    /*CSS variables*/
    --primaryColor: #013151;
    --backgroundColor: #f3ffec;
    --backgroundColorsecondary: #f3ffec;

    --headingColor: #013151; /* Färg för rubriker */
    --paragraphColor: #414141; /* Färg för brödtext */
    --textColor: #323232;
    --sidebarColor: #8aa77b;
}

/* lobotomized owl - 
selector looks for children of body with another sibling */
body * + * {
    margin-top: var(0);
    background-color: var(--backgroundColorsecondary);
}


/* finds selector on attribute level */
[data-testid|="stheader"]{
    display: box;
    fill: #013151 !important; /* Ändra till den färg du vill använda */
    color: #013151 !important; 
    opacity: 1 !important; /* Se till att ikonen är fullt synlig */

}


h1, h2, h3 {
    color: var(--headingColor) !important;
    font-family: "Noto Sans", sans-serif;
}

p {
    color: var(--paragraphColor) !important;
    font-family: "Noto Sans", sans-serif;
}

h1 {
    font-size: calc(var(--s3) * 1.2); /* Öka storleken på huvudrubriken */
    color: var(--primaryColor) !important;
    margin-top: 1rem; /* Justera marginalen ovanför rubriken */
    margin-bottom: 1rem; /* Justera marginalen under rubriken */
    text-align: center; /* Centrera rubriken */
    padding: 0.5rem 1rem; /* Lägg till lite utrymme runt rubriken */
    background-color: rgba(60, 116, 68, 0.05); /* Subtil bakgrundsfärg (justerbar) */
    border-radius: 8px; /* Gör hörnen rundade */
    box-shadow: 0px 2px 5px rgba(49, 122, 79, 0.473); /* Lägg till en subtil skugga */
}

h2 {
    font-size: var(--s2); /* Öka storleken för underrubriken */
    color: var(--headingColor) !important; /* Använd headingColor för underrubriken */
    margin-top: 0.5rem; /* Justera marginalen ovanför underrubriken */
    margin-bottom: 0.5rem; /* Justera marginalen under underrubriken */
    /*text-align: center;  Centrera underrubriken */
}
h1 + p {
    font-size: var(--s1); /* Gör beskrivningstexten större */
    color: var(--paragraphColor) !important; /* Använd färgen för paragraftext */
    text-align: center; /* Centrera beskrivningen */
    margin-top: 0; /* Justera marginalen ovanför beskrivningen */
    margin-bottom: 1rem; /* Justera marginalen under beskrivningen */
}

h3 {
    font-size: var(--s0);
    color: var(--paragraphColor) !important;
}


/* . to use class selector */

.stAppViewBlockContainer {
    background-image: linear-gradient(to bottom right, rgb(227, 255, 221) , rgb(213, 213, 252));
    padding-top: var(--s1);
    padding-left: var(--s3);
    padding-right: var(--s3);
    max-width:100%; /* 110 characters bredd, bredden på den 'gröna' main sektionen */ 
}

/* Ändrar bakgrundsfärg och textfärg på selectboxar */
div[data-baseweb="select"] > div {
    background-color: #ffffff !important; /* Bakgrundsfärg */
    color: #013151 !important; /* Textfärg */
    border: 1px solid #003253 !important; /* Kantfärg */
    padding: 3px !important;
    border-radius: 5px !important; /* Rundade hörn */
    font-family: "Noto Sans", sans-serif !important;
    font-size: 16px !important;
    height: auto !important; /* anpassar sig till höjden*/
    max-width: 300px !important;
    width: auto !important; 
    line-height: 1.5 !important; 
    display: flex; /* centrering av elementet */
    align-items: center; /* Centrerar texten vertikalt */
}

div[data-baseweb="select"] > div > div {
    color: #013151 !important; /* Textfärg i selectboxen */
}


/* Ändrar utseendet när selectboxen är i fokus */
div[data-baseweb="select"]:focus-within {
    outline: none !important;
    border: 1px solid #009688 !important; /* Ändrar färg för kantlinjen vid fokus */
    box-shadow: 0 0 5px #009688 !important; /* En liten skuggeffekt vid fokus */
    height: auto !important; /* anpassar sig till höjden*/
    max-width: 300px !important;
    width: auto !important;
}


[data-testid|="stVerticalBlockBorderWrapper"] * {
    background-color: revert;
}


#MainMenu {visibility: visible;} /* hamburger-menyn */
header {
    visibility: visible; /*deploy knappen*/
    height: 0;
    background: none !important;
    background-color: transparent !important;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}



/* Här ändras 'bakgrundsfärgen' till sidopanelen*/
[data-testid="stSidebar"] {
    background-color: #8aa77b;
}
/* Gör radioknapparna mer som knappar */
[data-testid="stSidebar"] label {
    display: inline-block;
    display: flex;
    align-items: center; /* Centrerar innehållet lodrätt */
    justify-content: center; /* Centrerar innehållet horisontellt */
    margin: 5px 0;
    padding: 15px 15px;
    width: 100%;
    border: 1px solid #3d7951;
    border-radius: 3px;
    background-color: #549164;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Noto Sans", sans-serif;
    size: 10px;
    text-align: center;
}

[data-testid="stSidebar"] label:hover {
    background-color: #bbc5ff;
}

[data-testid="stSidebar"] > div:first-child {
    margin-bottom: 20px;
    font-weight: bold; /* Gör den fet för att särskilja från knapparna */
    color: #013151;
    display: block; /* Ser till att titeln är kvar som ett blockelement */
}


#media_player_1, #media_player_1 > div, #media_player_1 > div > iframe,
#media_player_2, #media_player_2 > div, #media_player_2 > div > iframe {
    background-color: transparent !important;
    border-radius: 0.5px;
    border: none !important;
}

iframe {
    background-color: transparent !important;
    border: none !important;
}


/* Container för huvudrubriken och beskrivningen */
.header-container {
    padding: 1rem 2rem; /* Utrymmet runtom */
    background-color: rgba(243, 255, 236, 0.8); /* Liknande bakgrundsfärg med lite transparens */
    border-radius: 8px; /* Gör hörnen rundade */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* En liten skugga för att framhäva sektionen */
    margin-bottom: 1rem; /* Utrymme under boxen */
    text-align: center; /* Centrerar texten */
}

/* Gör huvudrubriken inom header-container större */
.header-container h1 {
    margin: 0;
    font-size: var(--s3);
    color: var(--headingColor);
}

/* Stilar för beskrivningstexten inom header-container */
.header-container p {
    margin: 0.5rem 0 0; /* Litet mellanrum ovanför men inget nedanför */
    font-size: var(--s1); /* Gör beskrivningstexten större */
    color: var(--paragraphColor);
}

/* Ändrar textfärg för Streamlit-huvudknappar */
.stButton>button, .stRadio label, .stSidebarButton>button {
    color: #013151 !important; 
 }
 /* Förbättrar marginaler och paddings runt radio-knappar */
.stRadio > div {
    margin-top: 0 !important;  /* Tar bort övre marginal */
    padding-top: 0 !important; /* Tar bort eventuell övre padding */
}
.stRadio > div:first-child label {
    display: none;  /* Gömmer den första labeln */
}

 /* Ändrar färg på Streamlit-ikoner i sidhuvudet */
.stToolbar button, .stToolbar svg {
    fill: #013151 !important; /* ikonfärgen */
}

[data-testid="stHeader"] button {
    color: #013151 !important;
    fill: #013151 !important;
}

/* Justerar bakgrundsfärg och hover för bättre kontrast */
[data-testid="stHeader"] button:hover {
    background-color: #f3ffec !important;
    color: #013151 !important;
}